@{
    ViewData["Title"] = "SignUp";
}

<div class="container py-5">
    <div class="row align-items-center">

        <!-- LEFT -->
        <div class="col-lg-6">

            <h1 class="fw-bold mb-1" id="formTitle">Welcome Back !</h1>
            <p class="text-secondary mb-4" id="formSubtitle">
                Please Select.
            </p>

            <!-- FORM -->
            <form style=" height:10rem; width:32rem">
                <div class="row ms-4 pt-4">

                    <div class="d-flex gap-3 mb-4">

                        <!-- Teacher -->
                        <div onclick="selectRole('Teacher')" id="teacherBox"
                             class="role-box d-flex align-items-center gap-2 px-3 py-2 rounded-3 shadow-sm bg-primary bg-opacity-10">
                            <i class="bi bi-person-video3 fs-4"></i>
                            <span class="fw-semibold">Teacher</span>
                        </div>

                        <!-- Parent -->
                        <div onclick="selectRole('Parent')" id="parentBox"
                             class="role-box d-flex align-items-center gap-2 px-3 py-2 rounded-3 shadow-sm bg-primary bg-opacity-10">
                            <i class="bi bi-people fs-4"></i>
                            <span class="fw-semibold">Parent</span>
                        </div>

                        <div onclick="selectRole('Institution')" id="institutionBox"
                             class="role-box d-flex align-items-center gap-2 px-3 py-2 rounded-3 shadow-sm bg-primary bg-opacity-10">
                            <i class="bi bi-buildings fs-4"></i>
                            <span class="fw-semibold">Institution</span>
                        </div>

                    </div>

                    <div class="col-3 ps-2">
                        <a id="startBtn" class="btn btn-info rounded-pill px-4 py-2 fw-semibold">
                            Next →
                        </a>
                    </div>
                    
                    <div class="col-3">
                        <a type="button"
                           class="btn px-4"
                           style="border:1px solid #c9c6ff;color:#c9c6ff"
                           asp-action="Index"
                           asp-controller="Home">
                            Back

                        </a>
                    </div>
                   
                </div>
                   
            </form>
        </div>
        <script>
            let selectedRole = "";

            function selectRole(role) {
                selectedRole = role;

                document.getElementById("teacherBox").classList.remove("role-selected");
                document.getElementById("parentBox").classList.remove("role-selected");
                document.getElementById("institutionBox").classList.remove("role-selected");

                if (role === "Teacher") {
                    document.getElementById("teacherBox").classList.add("role-selected");
                } else if (role === "Parent") {
                    document.getElementById("parentBox").classList.add("role-selected");
                } else {
                    document.getElementById("institutionBox").classList.add("role-selected");
                }
            }

            document.getElementById("startBtn").addEventListener("click", function () {
                if (selectedRole === "") {
                    alert("Pleas Select");
                    return;
                }

                if (selectedRole === "Teacher") {
                    window.location.href = "/Home/TeacheRegrister";
                } else if (selectedRole === "Institution") {
                    window.location.href = "/Home/InstitutionRegrister";
                } else {
                    window.location.href = "/Home/ParentRegrister";
                }
            });
        </script>

        <!-- RIGHT -->
        <div class="col-lg-6 text-center">
            <img src="~/img/illustration.png" class="img-fluid" style="max-height:420px">
        </div>

    </div>
</div>
